<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
  </head>
  <body>
    <div id="main">
      <% for(var month in calendar) { %>
        <div class="month">
          <h1><%- calendar[month].monthName %></h1>
          <div class="week">
            <% for(var day = 1; day <= calendar[month].numDaysInMonth; day++) { %>
              <!-- check to see if it would be the end of the week based on the offset of the first day of the month -->
              <% if((day + calendar[month].firstDayOfMonth - 1) % 7 === 0) { %>
                </div>
                <div class="week">
              <% } %>
              <div class="day">
                <% for (var dayWithEvents in calendar[month].dates) {
                  if((' ' + day) === dayWithEvents) { %>
                    <% for(var event in calendar[month].dates[dayWithEvents]) { %>
                      <div class="event">
                        <%- calendar[month].dates[dayWithEvents][event].name %>
                        <% if(calendar[month].dates[dayWithEvents][event].type === 'birth') { %>
                          was born today in 
                        <% } else if(calendar[month].dates[dayWithEvents][event].type === 'marriage') { %>
                          were married today in 
                        <% } else { %>
                          died today in 
                        <% } %>
                        <%- calendar[month].dates[dayWithEvents][event].year %>
                        <%- calendar[month].monthName %>
                        <%- calendar[month].dates[dayWithEvents][event].day %>
                      </div> <!-- end of event -->
                    <% } %>
                  <% } %>
                <% } %>
              </div> <!-- end of day -->
            <% } %>
          </div> <!-- end of week -->
        </div> <!-- end of month -->
      <% } %>
    </div>
  </body>
</html>