<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" ></script>
    <script src="/js/pdf-generator.js"></script>
  </head>
  <body>
    <div id="overlay-message">
      <button onclick="generate()">Generate PDF</button>
    </div>
    <div id="main">
      <% for(var month in calendar) { %>
        <div class="top-page page">
          <img class="top-photo" src="/top-photos/<%- calendar[month].monthName %>.jpg" alt="<%- calendar[month].monthName %> photo" />
        </div>
        <div class="bottom-page page" style="background-image: url('/top-photos-originals/<%- calendar[month].monthName %>.jpg')">
        <div class="month">
          <div class="week">
            <% for(var fillerDay = 0; fillerDay < calendar[month].firstDayOfMonth; fillerDay++) { %>
              <div class="day"></div>
            <% } %>
            <% for(var day = 1; day <= calendar[month].numDaysInMonth; day++) { %>
              <!-- check to see if it would be the end of the week based on the offset of the first day of the month -->
              <% if((day + calendar[month].firstDayOfMonth - 1) % 7 === 0) { %>
                </div>
                <div class="week">
              <% } %>
              <div class="day">
                <span class="dayNumber"><%- day %>
                <% for (var dayWithEvents in calendar[month].dates) {
                  if((' ' + day) === dayWithEvents) { %>
                    <% for(var event in calendar[month].dates[dayWithEvents]) { %>
                      <!-- This handles main holidays, so the are next to the date number. There will be a maximum of one per day, and it will always be listed first -->
                      <% if((event == 0) && (calendar[month].dates[dayWithEvents][event].type === 'holiday')) { %>
                        <%- calendar[month].dates[dayWithEvents][event].name %></span>
                      <% } else { %>
                      </span>
                      <% if(event < 2) { %>
                      <div class="event">
                        <%- calendar[month].dates[dayWithEvents][event].name %>
                        <% if(calendar[month].dates[dayWithEvents][event].type === 'birth') { %>
                          was born today in 
                        <% } else if(calendar[month].dates[dayWithEvents][event].type === 'marriage') { %>
                          were married today in 
                        <% } else if(calendar[month].dates[dayWithEvents][event].type === 'death') { %>
                          died today in 
                        <% } else if(calendar[month].dates[dayWithEvents][event].type === 'church-history') { %>
                          in 
                        <% } %>
                        <%- calendar[month].dates[dayWithEvents][event].year %>
                      </div> <!-- end of event -->
                      <% } %>
                    <% } %>
                    <% } %>
                  <% } %>
                <% } %>
              </div> <!-- end of day -->
            <% } %>
            <% var numDaysTilEnd = (7 - ((calendar[month].firstDayOfMonth + calendar[month].numDaysInMonth) % 7));
                if(numDaysTilEnd === 7) {
                  numDaysTilEnd = 0;
                }
                for(var fillerDay = 0; fillerDay < numDaysTilEnd; fillerDay++) { %>
              <div class="day"></div>
            <% } %>
          </div> <!-- end of week -->
        </div> <!-- end of month -->
      </div>
      <% } %>
    </div>
  </body>
</html>